@font-face {
  font-family: "Sahel";
  src: url(/public/fonts/Sahel-Bold.ttf), url(/public/fonts/Sahel.woff2),
    url(/public/fonts/Sahel.eot);
}
body {
  transition: background 200ms ease-in-out;
}
body,
input,
button {
  font-family: "Sahel", sans-serif;
}

span,
table,
th,
tbody,
thead {
  text-align: center;
  font-family: "Sahel";
}

table {
  direction: ltr;
}

option,
select {
  cursor: pointer;
}
.bg-dark input::placeholder {
  color: #bcbcbc !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.not-found-container {
  margin-top: 50px;
}

.not-found-container h1 {
  font-size: 10rem;
}

.not-found-container p {
  font-size: 1.5rem;
}

.not-found-container .btn {
  margin-top: 20px;
}
